// Sparkle effect ///////////////////////////
$sparkle-effect-particle-num:200;
$sparkle-effect-particle-base-size:8;
$sparkle-effect-left:5; //Implicitly in vw
$sparkle-effect-width:90; //Implicitly in vw
.circle-container {
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );
    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
    @keyframes fadein-frames {
      0% { opacity: 1; }
      50% { opacity: 0.7; }
      100% { opacity: 1; }
    }
    @keyframes scale-frames {
      0% { transform: scale3d(0.4, 0.4, 1); }
      50% { transform: scale3d(2.2, 2.2, 1); }
      100% { transform: scale3d(0.4, 0.4, 1); }
    }
  }
  @for $i from 1 through $sparkle-effect-particle-num {
    &:nth-child(#{$i}) {
      $sparkle-effect-circle-size: random($sparkle-effect-particle-base-size);
      width: $sparkle-effect-circle-size + px;
      height: $sparkle-effect-circle-size + px;
      $sparkle-effect-start-position-y: random(10) + 100;
      $framesName: "move-frames-" + $i;
      animation-name: #{$framesName};
      animation-duration: 28000 + random(9000) + ms;
      animation-delay: random(37000) + ms;
      @keyframes #{$framesName} {
       from {
          transform: translate3d(
            #{($sparkle-effect-left + random($sparkle-effect-width)) + vw},
            #{$sparkle-effect-start-position-y + vh},
            0
          );
        }
        to {
          transform: translate3d(
            #{($sparkle-effect-left + random($sparkle-effect-width)) + vw},
            #{- $sparkle-effect-start-position-y - random(30) + vh},
            0
          );
        }
      }
      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}
