//////////////////////////////////////////
// Dan Nielsen
//////////////////////////////////////////
$title-bkg-position:20%;
$title-bkg-url:'/img/continua/continua-bird.jpg';
$bkg-upholstry-url:'/img/bkg/upholstry.png';
$login-bkg-url:'/img/bkg/wallpaper-blue.jpg';
$font:'EB Garamond';
$font-url:'https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap';
$text-highlight:0 0 .6rem rgba(255,255,255,.4),0 0 .6rem rgba(255,255,255,.4),0 0 .6rem rgba(255,255,255,.4);
$text-shadow:.225rem .225rem .5rem rgba(0,0,0,.4),.225rem .225rem .5rem rgba(0,0,0,.4),.225rem .225rem .5rem rgba(0,0,0,.4);
$box-shadow:.5rem .5rem 1rem rgba(0,0,0,.5);
$box-shadow-down:0 .5rem 1rem rgba(0,0,0,.5);
$box-shadow-up:0 -.5rem 1rem rgba(0,0,0,.5);
//Text size
$base-font-size:1.275rem;
$login-font-size:1.05rem;
$title-size:10rem;
$motto-size:1.5rem;
$menu-item-size:1.5rem;
//Text color
$menu-item-color:#fed;
$login-text-color:#111;
$textarea-text-color:darkgray;
$console-text-color:darkgray;
$select-item-color:ivory;
$motto-color:#ccc;
$placeholder-text-color:#bbb;
//Background color
$textarea-active-color:#500050;
$textarea-inactive-color:#402240;
$title-menu-bkg-color:#68006870; //RGB must match $bkg-color
$title-bkg-color:white;
$select-item-bkg-color:rgba(0,0,0,.5);
$select-item-hover-bkg-color:rgba(150,150,150,.5);
$warning-bkg-color:rgba(255,0,0,.5);
$bkg-color:#680068;
@import '_colors';
@import '_layout';
@import '_forms';
@import url($font-url);
@font-face{font-family:title;src:url(title.otf)}
.menu-element{display:none;} .select-selected-element{display:inline-block;} .conscript-loading-element{display:none;} .save-needed-element{display:none;} .otf-loading-element{display:none;} .otf-button-element{display:none;} .chat-loading-element{display:none;} .chat-button-element{display:none;} .font-element{display:none;} .adjust-element{display:none;} .donate-element{display:inline-block;} .help-element{display:inline-element;} .chat-in-new-page-element{display:inline-element;} .pen-progress-element{display:none;} .play-element{display:none;} .script-element{display:none;} .title-element{display:block;} .custom-select-element{display:none;} .login-container-element{display:inline-block;} .login-element{display:none;} .username-element{display:none;} .intro-element{display:block;}
* {-webkit-font-smoothing: antialiased;}
html,
body {
  width: 100%;
  height: 100%;
  font-size: $base-font-size;
}
body {
  font-family: $font;
  border: 0;
  margin: 0;
  color: gold;
  background: $title-bkg-color url($title-bkg-url) no-repeat fixed top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: $title-bkg-position;
}
input[type='text'] {
  font-family: $font;
  padding:5px;
  box-sizing:border-box;
  margin:1rem .1rem;
  border:0;
  width:calc(400px - .2rem);
  height:auto;
  font-size:2rem;
  color:black;
  background-color:$title-bkg-color;
  border-radius:1rem;
  text-align:center;
}
input[type='checkbox'] {
  width:1.5rem;
  height:1.5rem;
}
@media only screen and (max-width:600px) {
  #warning-mobile {
    color:ivory;
    text-shadow:$text-shadow;
    background-color:$warning-bkg-color;
  }
  body {
    background-position:10% 0%;
  }
}
@media only screen and (min-width:600px) {
  #warning-mobile {
    display:none;
  }
}
.no-transition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
#page-container {
  text-align:center;
  // background:url($bkg-upholstry-url);
  width:100%;
  height:100%;
  overflow-y:hidden;
  position:relative;
}
.login-container-element {
  font-size:$login-font-size;
  white-space:pre-wrap;
  position:absolute;
  width:660px;
  padding:1rem 2rem;
  left:calc(50% - 330px - 2rem);
  bottom:25px;
  opacity:1;
  border-radius:20px;
  color:$login-text-color;
  background:linear-gradient(to bottom,#aaa,#aaa,#bbb,#fff), url($login-bkg-url) no-repeat scroll center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-blend-mode: screen;
}
.intro-element {
  white-space:pre-wrap;
}
ul,ol,li {
  line-height:1.8rem;
  text-align:left;
  list-style-type:none;
}
li:before { content: '\1f65e'; margin-left: -20px; margin-right: 10px; }
#login > div {
  margin:0 auto;
  text-align:left;
}
#title {
  font-family:title;
  font-size:$title-size;
  position:fixed;
  color:white;
  text-shadow:$text-shadow;
  width:100%;
  bottom:2.5rem;
}
#motto {
  font-family:$font;
  font-size:$motto-size;
  color:$motto-color;
  text-shadow:$text-shadow;
}
textarea {
  float:left;
  width:100%;
  font-size:calc(.5vw + 16px);
  resize:none;
  border:1px;
  margin:0;
  padding:0;
  letter-spacing:0;
  height:10vh;
  background-color:$textarea-inactive-color;
  color:$textarea-text-color;
}
#console::placeholder {
  color:$placeholder-text-color;
  opacity:1;
}
div {
  white-space:pre;
}
select {
  width:114px;
  height:2.5rem;
  font-size:.9rem;
}
.half-width {
  width: calc(50% - 3px);
}
.right {
  border-left:0;
}
.under {
  border-top:0;
}
.norm-height {
  height:58vh;
}
.narrow-height {
  height:10vh;
}
#kerning-map, #font-svg-container-container, .custom-select-element, #console {
  box-shadow:$box-shadow-down;
}
input[type=text], #utf-table, .login-container-element {
  box-shadow:$box-shadow;
}
#font-canvas { box-shadow:$box-shadow-up; }
#utf-table {
  float:left;
  width:400px;
  height:400px;  
}
#font-canvas {
  display:inline-block;
  float:left;
  width:auto;
  height:calc(50vh + 180px);
  background-image:url(/img/bkg/grid.jpg);
  background-size:cover;
  background-color:lemonchiffon;
  transform:scaleY(-1);
}
#font-code {
  float:left;
  width:800px;
  height:50vh;
}
#font-code, #kerning-map, .active-textarea {
  color:lemonchiffon;
  background-color:$textarea-active-color;
}
#console, #font-svg-container-container {
  background-image: linear-gradient(to bottom,#a040a0,$bkg-color);
  float:left;
  background-color:transparent;
  color:$console-text-color;
}
#console {
  height:10vh;
}
#font-svg-container-container {
  // width:calc(50% - 3px);
  width:800px;
  height:180px;
  font-size:40px;
}
#svg-preview {
  transform:scaleY(-1);
  z-index:10;
}
#kerning-map {
  float:left;
  width:400px;
  height:400px;
}
.content-container.adjust {
  left:calc(50% - 400px);
  width:800px;
  position:relative;
}
.content-container.font {
  left:calc(50% - 730px);
  width:calc(50vh + 180px + 800px);
  position:relative;
}
@media only screen and (max-width: 152.5vh) {
  .content-container.font {
    left:auto;
    width:98vw;
  }
  #font-canvas {
    float:left;
    width:auto;
  }
  #font-code {
    width:calc(97vw - 200px);
    height:180px;
  }
  #font-svg-container-container {
    width:195px;
  }
}
@media only screen and (max-width: 800px) {
  .content-container.adjust {
    display:inline-block;
    left:auto;
    width:98vw;
  }
  #kerning-map {
    height:200px;
  }
}
.custom-select-element { //Title menubar
  width:100%;
  background-color:$title-menu-bkg-color;
}
.custom-select-element.content-container {
    margin:0 auto;
}
.custom-select-element select { display:none; }
.select-hide { display:none; }
.username-element, .logout-element, .select-selected-element {
  position:absolute;
  top:0;
  padding:1rem;
  font-size:$menu-item-size;
  text-shadow:$text-shadow;
  text-decoration:none;
  color:$menu-item-color;
}
.logout-element, .select-selected-element {
  cursor:pointer;
  transition: all .2s ease-out;
  &:hover {
    background-color:$select-item-hover-bkg-color;
    text-shadow:$text-highlight;
  }  
}
.username-element {
  left:5%;
}
.logout-element {
  right:5%;
}
.select-selected-element {
  position:relative;
  text-align:center;
}
.select-items div {
  color: $select-item-color;
  // font-weight: bold;
  text-shadow:$text-shadow;
  padding: calc(16px + 0.5vw) 0;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
  user-select: none;
  transition: all .3s ease-out;
  &:hover {
    background-color:$select-item-hover-bkg-color;
    text-shadow:$text-highlight;
  }
}
.select-selected-element {
  display:inline-block;
}
.select-items div {
  float:left;
  width:calc(50% - 3px);
  background-color: $select-item-bkg-color;
}
.menu-element, .save-needed-element {
  float:left;
  color:$menu-item-color;
  text-shadow:$text-shadow;
  padding:calc(16px + 0.5vw) 0;
  border:0px solid transparent;
  cursor:pointer;
  user-select: none;
  width:12%;
  background-color:transparent;
  outline:none;
}
.menu-element:not(.menu-icon,.loading-element) {
  transition:all .2s ease-out;
  &:hover {
    background-color:$select-item-hover-bkg-color;
    text-shadow:$text-highlight;
  }
}
.menu-icon {
  &:hover {
    background:radial-gradient(circle,rgba(230,230,230,.4) 0, $bkg-color 1rem);
  }
}
.save-needed-element {
  cursor: auto;  
}
#download-button, #fullscreen-button, .otf-button-element, .otf-loading-element, .chat-button-element, .chat-loading-element {
  border:0;
  margin:0 0 0 2rem;
  height:1.25rem;
  width:auto;
}
#conscript-text-container {
  position:relative;
}
#conscript-text {
  line-height:1.25em;
}
.file-upload input {
  display:none;
}
.pen-progress-element {
  width:800px;
}
.donate-element {
  position:absolute;
  top:20px;
  left:5px;
}
.play-element {
  position:absolute;
  top:calc(70vh - 10px);
  left:88vw;
  -webkit-filter:drop-shadow(3px 3px 3px #222);
  filter:drop-shadow(3px 3px 3px #222);
}
.help-element {
  filter: brightness(2);
  position:absolute;
  top:20px;
  left:5px;
  height:1.33em;
  width:auto;
}
.chat-in-new-page-element {
  filter: brightness(2);
  position:absolute;
  top:20px;
  left:60px;
  height:1.33em;
  width:auto;
}
// Animated lights ///////////////////////////
.circle-container {
  $particleNum: 200;
  $particleColor: hsl(180, 100%, 80%);
  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );
    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;
    @keyframes fadein-frames {
      0% { opacity: 1; }
      50% { opacity: 0.7; }
      100% { opacity: 1; }
    }
    @keyframes scale-frames {
      0% { transform: scale3d(0.4, 0.4, 1); }
      50% { transform: scale3d(2.2, 2.2, 1); }
      100% { transform: scale3d(0.4, 0.4, 1); }
    }
  }
  $particleBaseSize: 8;
  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;
$startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;
      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;
      @keyframes #{$framesName} {
 //Sparkle effect
$sparkle-effect-left:5; //Implicitly in vw
$sparkle-effect-width:90; //Implicitly in vw
       from {
          transform: translate3d(
            #{($sparkle-effect-left + random($sparkle-effect-width)) + vw},
            #{$startPositionY + vh},
            0
          );
        }
        to {
          transform: translate3d(
            #{($sparkle-effect-left + random($sparkle-effect-width)) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }
      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}