////////////////////////////////////////////
// Dan Nielsen
////////////////////////////////////////////
doctype html
html(lang='en')
  head
    title chat
    meta(charset='utf-8')
    link(rel='stylesheet', type='text/css', href='../css/chat.css')
    script(src='/socket.io/socket.io.js')
    script(src='https://dwn.github.io/common/js/mespeak.js')
    script(src='https://dwn.github.io/common/js/jquery-3.3.1.min.js')
  body
    .container
      each lang in arrLang
        div.tag
          a(href=`/chat/${lang}?username=${username}`) #{lang}
    ul(id='messages')
    form(action='')
      input(id='messages-input' autocomplete='off' autofocus)
      button &rarrhk;
    script(src='https://dwn.github.io/common/js/chat.js')
